.chatroomTab {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 45px;
  padding: 10px;

  & > span {
    text-align: left;
    font-size: 14px;
    letter-spacing: 0;
    color: #d4d4d4;
  }

  & > img {
    cursor: pointer;
  }
}
