.messagesTextarea {
  position: absolute;
  width: 100%;
  height: 18%;
  top: 78%;
  border: none;
  outline: none;
  background-color: transparent;
  resize: none;
  caret-color: #fff;
  color: #707070;
}
